<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic-ion-drawer/ionic.contrib.drawer.css" rel="stylesheet">
    <!-- Custom libs -->
    <script type="text/javascript" src="lib/caman/dist/caman.full.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="lib/ionic-ion-drawer/ionic.contrib.drawer.js"></script>
</head>

<body ng-app="floradex" ng-controller="MainCtrl">
    <ion-side-menus>
        <!--


         MAIN CONTENT 



         -->
        <ion-side-menu-content>
            <ion-content class="bg-gradient-meh" scroll="false">
                <div class="row">
                    <div class="col vorschau-div color-col-0">
                        <div ng-repeat="attribute in vorschauLebensform">
                            {{attribute.name + ".png"}}
                        </div>
                        <img src="resources/images/default/empty_ganz.png" class="vorschau-item-large">
                    </div>
                    
                    <div class="col vorschau-div color-col-2">
                        <div ng-repeat="attribute in vorschauBlatt">
                            {{attribute.name + ".png"}}
                        </div>
                        <img src="resources/images/default/empty_blatt.png" class="vorschau-item-large" style="padding:1.5em;">
                    </div>
                    <div class="col vorschau-div color-col-1">
                        <div ng-repeat="attribute in vorschauBluete">
                            {{attribute.name + ".png"}}
                        </div>
                        <img id="vorschau-bild-mitte" src="resources/images/default/empty_bluete.png" class="vorschau-item-large">
                    </div>
                </div>
                <!-- 


                POPOVER MENU 


                -->
                <script id="my-popover.html" type="text/ng-template">
                    <ion-popover-view class="floracolor-yellow" style="height: 150px;
                                                                      width: {{(currentPopoverMenuItem.children.length * 75) + 'px' }};">
                        <ion-header-bar class="popover-header floracolor-yellow bar-top-no-border ">
                            <div class="title">{{currentPopoverMenuItem.name}}</div>
                        </ion-header-bar>
                        <ion-content>
                            <ion-scroll direction="y" class="popover-scroller">
                                <div ng-class="(child.selected == true) ? 'popover-photo photo-selected' : 'popover-photo popover-photo-hoverble'" collection-repeat="child in currentPopoverMenuItem.children" item-height="75" item-width="75" ng-click="menuSelectItem(child, currentPopoverMenuItem, currentPopoverMenuSuperItem)">
                                    <img class="second-row-image" ng-src="resources/images/menu/{{replaceAllSpecialCharactersInString(child.name)}}.png">
                                    <!--br>
                                     <div style="position:fixed; bottom:0; left:0; width:100%; font-align:center;font-size:10px;"> {{child.name}}</div> titel unten-->
                                </div>
                            </ion-scroll>
                        </ion-content>
                    </ion-popover-view>
                </script>
                <!-- 


                Eigentliches Menü 



                -->
                <div class="flora-menu bg-gradient-dark">
                    <div class="submenu" ng-repeat="superMenuData in menuData">
                        <ul>
                            <li ng-class="(data.hightlighted == true) ? 'floramenu-li-item-highlighted' : (data.selected == true) ? 'floramenu-li-item-selected' : ''" ng-repeat="data in superMenuData.children" ng-click="showMenuPopover($event, data, superMenuData)">
                                <img id="{{ 'menuImg-' + replaceAllSpecialCharactersInString(data.name) }}" class="second-row-image" ng-src="resources/images/menu/{{getImageName(data)}}.png">
                                <!--  <br> {{ data.name | limitTo:10 }} -->
                            </li>
                        </ul>
                        <div class="superMenuName"> {{superMenuData.name}} </div>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu-content>
        <!--      
        


        SIDEBAR      
        

         -->
        <ion-side-menu side="right">
            <ion-content class="floracolor-ironsight-grey sidebar-has-footer">
                <ion-scroll delegate-handle="resultsScrollView" direction="y" class="result-scroller center" ng-style="">
                    <div class="photo" collection-repeat="plant in results" item-height="resultSettings.size + padding" item-width="resultSettings.size + padding">
                        <img ng-src="resources/images/thumbnails/{{plant.SampleID}}-{{resultSettings.size}}.png" err-src="resources//images/default/thumbnail-{{resultSettings.size}}.png" ng-click="showImage(plant) ">
                    </div>
                </ion-scroll>
            </ion-content>
            <ion-footer-bar class="floradex-dark-grey bar-top-no-border sidebar-footer">
                <button class="sidebar-above-header-button button button-clear icon ion-chevron-up" ng-click="toggleDrawer()"></button>
                <br>
                <div class="text">{{countOfResults}} Ergebnisse</div>
            </ion-footer-bar>
        </ion-side-menu>
        <!--


         MODAL VIEW MORE INFOS 


         -->
        <script id="image-modal.html" type="text/ng-template">
            <ion-modal-view style="width: calc(100% - 250px) !important; height: calc(100% - 105px); top: 0%; left: 0%; right: 250px; bottom: 105px;">
                <ion-header-bar class="bar-top-no-border floracolor-yellow">
                    <h1 class="title">{{currentMoreInfoPlant.ScientificName}}</h1>
                    <div class="buttons">
                        <button class="button button-clear button-assertive icon ion-ios-close-outline button-large" ng-click="closeModal()"></button>
                    </div>
                </ion-header-bar>
                <ion-content class="floracolor-yellow">
                    <!--<div class="modal image-modal">
                        <ion-pane>
                            <img ng-src="{{currentMoreInfoPlant.associatedMedia}}" class="fullscreen-image" />
                        </ion-pane>
                    </div>-->
                    <!--<div class="row responsive-md">
                        <div class="col col-25">
                            <img ng-src="{{currentMoreInfoPlant.associatedMedia}}" width="100%" />
                        </div>
                    </div>-->
                    <ion-slide-box style="height: 100%">
                        <ion-slide><img ng-src="resources/images/thumbnails/{{currentMoreInfoPlant.SampleID}}-200.png" /></ion-slide>
                        <ion-slide><img ng-src="resources/images/thumbnails/{{currentMoreInfoPlant.SampleID}}-200.png" /></ion-slide>
                        <ion-slide><img ng-src="resources/images/thumbnails/{{currentMoreInfoPlant.SampleID}}-200.png" /></ion-slide>
                    </ion-slide-box>
                    <h3>Botanische Einordnung</h3>
                    <div>
                        Subklasse: {{currentMoreInfoPlant.t_subclass}}
                        <br> Ordnung: {{currentMoreInfoPlant.t_order}}
                        <br> Unterordnung: {{currentMoreInfoPlant.t_superorder}}
                        <br> Familie: {{currentMoreInfoPlant.t_family}}
                        <br> Gattung: {{currentMoreInfoPlant.t_genus}}
                        <br> Standort: {{currentMoreInfoPlant.HigherGeography}}
                    </div>
                    <h3>Beschreibung</h3>
                    <div>
                        {{currentMoreInfoPlant.descriptionText}}<br>
                        Quelle: <a href="https://de.wikipedia.org">Wikipedia</a><br>
						<button class="button" ng-click="putPlantIntoHerbarium(currentMoreInfoPlant.SampleID)">Meinem Herbarium hinzufügen</button>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
        <!-- 


        MODAL VIEW START SCREEN 


        -->
        <script id="flodarex-intro.html" type="text/ng-template">
            <ion-modal-view style="width: calc(100% - 250px) !important; height: 100%; top: 0%; left: 0%; right: 250px; bottom: 0%;">
                <ion-content class="floracolor-main" ng-click="hideFloradexOverlay();closeDrawer();">
                    <img ng-src="resources/images/default/floradex.png" class="floradex-image" />
                </ion-content>
            </ion-modal-view>
        </script>
        <!--     


         DRAWER        


          -->
        <drawer side="right">
            <ion-content class="floradex-dark-grey">
                <ion-list class="main-menu-list">
                    <ion-item class="no-style-list" ng-click="hideFloradexOverlay();closeDrawer();">
                        <i class="icon ion-ios-search-strong"></i> Pflanze bestimmen</ion-item>
                    <ion-item class="no-style-list" ng-click="hideFloradexOverlay();closeDrawer();"><i class="icon ion-arrow-right-a"></i> Wort suchen</ion-item>
                    <ion-item class="no-style-list" ng-click="hideFloradexOverlay();closeDrawer();"><i class="icon ion-shuffle"></i> Zufällige Pflanze</ion-item>
                    <ion-item class="no-style-list" ng-click="hideFloradexOverlay();closeDrawer();"><i class="icon ion-ios-book-outline"></i> Mein Herbarium</ion-item>
                </ion-list>
                <br>
                <!-- <button class=" icon ion-close-round" ng-click="closeDrawer();modalFloradexImage.hide();"></button> -->
            </ion-content>
        </drawer>
</body>

</html>
